<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="upper_leg_gazebo" params="name">
    <gazebo reference="${name}_upper_leg">
      <mu1 value="1.0"/>
      <mu2 value="1.0"/>
      <kp value="1000.0"/>
      <kd value="1000.0"/>
    </gazebo>
  </xacro:macro>
</robot>
